
// colors
$white: #fff;
$black: #000000;
$blue: #20a6da;
$sail: #99e1f9;
$blue-hover: #2091bd;
$boulder: #777;
$gray : #f6f7f8;
$light: #9cc7d9;
$pink: #fbe8e9;
$gallery: #eaeaea;
$blossom: #A94442;
$sunglo: #e97474;






